body {
  font: 10px sans-serif;
}

.bar rect {
  fill: #2ca25f;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}