.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

text {
    font-family: sans-serif;
    font-size: 11px;
}

#circle_label, #mw_label {
	fill-opacity: 0;
	fill: white;
}

#circle_label:hover, #mw_label:hover {
	fill-opacity: 1;
	fill: red;
}
